{# <footer>
  4540 N. Oakland Gravel Rd., Columbia, MO 65202
  Office: (573) 474-8755 | Cell: (573) 356-5560
</footer> #}

<footer>
  <ul class="social-media">
    <li><a class="mdi mdi-facebook" href="https://www.facebook.com/pages/Grace-Lutheran-Church-Columbia-Missouri/1406369466281291" target="_blank"></a></li>
    <li><a class="mdi mdi-google-plus" href="https://plus.google.com/+Gracecolumbia" target="_blank"></a></li>
    <li><a class="mdi mdi-youtube-play" href="http://www.youtube.com/channel/UCX1FLtvvWMxmQMtGBxZBcKQ" target="_blank"></a></li>
  </ul>

  <p class="contact">
    <span id="address">4540 N. Oakland Gravel Rd.,<br class="mobile-show"> Columbia, MO 65202 <span class="mobile-hide">|</span></span>
    <span id="phone1">Office: <a class="office-phone" href=""></a> <span class="mobile-hide">|</span></span>
    <span id="phone2">Cell: <a class="cell-phone" href=""></a></span>
  </p>

  <p class="copyright">© 2014-2018 Grace Lutheran Church</p>
</footer>
