<nav>
  <div class="container">
    <div class="logo-wrapper">
      <a href="/"><img id="logo" src="/images/grace-logo-white.png" alt="Grace logo"></a>
      <div class="logo-tag">
        Sundays <br>
        @ 10:30am
      </div>
    </div>

    <ul class="nav-links">
      <li><a href="#services">Services</a></li>
      <li><a href="#meet-our-pastor">Meet Our Pastor</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#get-directions">Get Directions</a></li>
    </ul>
  </div>
</nav>
