{% macro link(route, title) %}
  <a class="navbar__item {% if path == route %}navbar__item--active {% endif %}" href="{{ route }}">{{ title}}</a>
{% endmacro %}

{% macro dropdown_link(route, title) %}
  <a class="dropdown__item {% if path == route %}dropdown__item--active {% endif %}" href="{{ route }}">{{ title}}</a>
{% endmacro %}

<header class="navbar">
  <nav class="navbar__content">
    <a class="navbar__logo" href="/">
      <img src="http://www.gracecolumbia.com/wp-content/uploads/2014/02/Grace_Logo_Genesis_Top_Address3.png">
    </a>

    <div class="navbar__right">
      <div class="navbar__dropdown {% if path.startsWith('/about/') %}navbar__dropdown--active{% endif %}">
        <span>About Us</span>
        <div>
          {{ dropdown_link('/about/pastor/', 'Our Pastor') }}
          {{ dropdown_link('/about/beliefs/', 'Our Beliefs') }}
          {{ dropdown_link('/about/teachings/', 'What we Teach') }}
        </div>
      </div>
      <div class="navbar__dropdown">
        <span>Resources</span>
        <div>
          {{ dropdown_link('/resources/bible/', 'Bible Resources') }}
          {{ dropdown_link('/resources/study/', 'Study Resources') }}
          {{ dropdown_link('/resources/wels/', 'WELS Resources') }}
          {{ dropdown_link('/resources/kids/', 'Kids Resources') }}
          {{ dropdown_link('/resources/other/', 'Other Resources') }}
        </div>
      </div>
      {{ link('/contact', 'Contact') }}
    </div>
  </nav>
</header>
