<nav>
  <div class="container">
    <a href="/"><img id="logo" src="/images/grace-logo-white.png" alt="Grace logo"></a>

    <ul class="nav-links">
      <li><a href="#welcome">Welcome</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#get-directions">Get Directions</a></li>
    </ul>
  </div>
</nav>
