html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
  font-size: 16px;
  color: $font-primary-color;
}

h1 {
  color: $font-primary-color;
  font-family: $font-primary;
  font-size: 48px;
  margin: 0;

  @media (max-width: $bp-tablet-landscape) {
    font-size: 40px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 30px;
  }
}

h2 {
  color: $font-primary-color;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2em;
}

a {
  color: $link-color;
}

.no-wrap {
  white-space: nowrap;
}

.mobile-show {
  display: none;

  @media (max-width: $bp-mobile) {
    display: block;
  }
}

.mobile-hide {
  @media (max-width: $bp-tablet-portrait) {
    display: none;
  }
}
