.footer {
  color: white;
  text-align: center;

  &__top {
    background-color: #333333;
    padding: 30px;

    .social-media {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin: 0 5px;

        a {
          display: block;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          color: #333333;
          background-color: white;
          text-decoration: none;
          font-size: 22px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__bottom {
    background-color: #1F1F1F;
    padding: 30px;

    .contact {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;

      a {
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.2s;

        &:hover {
          color: white;
        }
      }

      @media (max-width: $bp-tablet-portrait) {
        #address {
          display: block;
        }
      }

      @media (max-width: $bp-mobile) {
        #address {
          margin-bottom: 10px;
        }

        #phone1,
        #phone2 {
          display: block;
        }
      }
    }

    .copyright {
      color: rgba(255, 255, 255, 0.4);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
