.home-page {
  margin-bottom: 15px;

  &__banner {
    background: url('/images/cross-sky.png') center / cover;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    	background-color: rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 1440px) {
      height: 350px;
    }

    @media (max-width: $bp-tablet-landscape) {
      height: 300px;
    }

    @media (max-width: $bp-tablet-portrait) {
      height: 200px;
      background-position: 65%; // Re-center cross
    }

    .overlay {
      color: white;
      text-align: center;
      z-index: 1;

      h1 {
        margin-bottom: 5px;
      }

      small {
        font-size: 16px;
        font-style: italic;
      }

      p {
        font-family: $font-primary;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.6em;
        font-size: 24px;

        max-width: 550px;
        margin-left: auto;
        margin-right: auto;

        margin-top: 5px;

        @media (max-width: $bp-tablet-landscape) {
          font-size: 24px;
        }

        @media (max-width: $bp-mobile) {
          font-size: 18px;
        }
      }
    }
  }

  article section,
  article footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }

    p, li {
      font-family: $font-primary;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      letter-spacing: 0px;
      line-height: 1.6em;
      color: $font-secondary-color;
    }
  }

  &__map,
  &__verse {
    text-align: center;
  }

  &__pastor {
    padding-top: 60px !important;
    padding-bottom: 40px !important;

    img {
      margin-top: 20px;
      margin-right: 34px;
      margin-bottom: 34px;
      float: left;
      width: 296px;

      @media (max-width: $bp-tablet-portrait) {
        margin-top: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  &__services {
    display: flex;

    .standard-services,
    .special-services {
      width: 50%;
    }

    .standard-services {
      p {
        font-weight: 700;
      }
    }

    .special-services h2 {
      color: $primary-color;
    }

    @media (max-width: $bp-tablet-portrait) {
      flex-direction: column;

      .standard-services,
      .special-services {
        width: 100%;
      }
    }
  }

  &__map #map {
    max-width: 600px;
  }

  &__verse {
    background-color: transparent;
  }
}
