// Theme colors
$primary-color: #822524;
$link-color: #0876FC;

// Font colors
$font-primary-color: #4a4a4a;
$font-secondary-color: rgba(26,26,26,.7);

// Font families
$font-primary: 'EB Garamond', serif;
$font-default: 'Open Sans', sans-serif;

// Other colors
$border-color: rgba(26,26,26,.15);

// Breakpoints
$bp-tablet-landscape: 991px;
$bp-tablet-portrait: 767px;
$bp-mobile: 575px;
