<main class="home-page">
  <header class="home-page__banner">
    <div class="overlay">
      <h1>Grace Lutheran Church</h1>
      <small>- Est. 1975 -</small>
      <p>
        Proclaiming Christ Crucified, Risen and Coming Again,
        Through the Gospel in Word and Sacraments
      </p>
      <div class="callout">Sundays @ 10:30am</div>
    </div>
  </header>

  <article>
    <section class="home-page__pastor container" id="welcome">
      <h2 class="mobile-show">Welcome!</h2>
      <img src="/images/pastor.jpg" alt="Pastor Ernst">
      <div>
        <h2 class="mobile-hide">Welcome!</h2>
        <p>
          I'm Micah Ernst, Pastor of Grace Lutheran Church, and I invite you to share in the truth of the gospel at
          Grace Lutheran Church in Columbia, Missouri.
          <br><br>
          Whether you are new to the teachings of Jesus or a long time follower of the Christian faith, we pray that
          the Holy Sprit may bless you with new or renewed faith through the good news of our Savior who assures you
          of forgiveness through his death and resurrection.
          <br><br>
          Grace Lutheran is privileged to proclaim the pure gospel in accordance with the main teachings set forth in
          the Lutheran Confessions.  Grace Lutheran is a member of the Wisconsin Evangelical Lutheran Synod.  Please
          join us in worship and fellowship with other believers during Sunday morning worship, Bible Enrichment, or
          either of our mid-week Bible studies. 
          <br><br>
          Have questions, or just want to visit? Check our Contact section, or call our church office at 573-474-8755.
        </p>
      </div>
    </section>

    <section class="home-page__services container" id="services">
      <div id="standard-services">
        <h2>Service Times</h2>

        <p>Sunday Mornings:</p>
        <ul>
          <li>9:30am &nbsp; Bible Enrichment & Sunday School</li>
          <li>10:30am &nbsp; Worship Service</li>
        </ul>

        <p>Tuesday Evenings:</p>
        <ul>
          <li>7:00pm &nbsp; Bible Study at Church</li>
        </ul>

        <p>Thursday Mornings:</p>
        <ul>
          <li>11:00am &nbsp; Bible Study at <a href="https://www.google.com/maps/place/2520+Broadway+Bluffs+Dr,+Columbia,+MO+65201" target="_blank">Culver's</a></li>
        </ul>
      </div>
      <div id="special-services">
        <h2 v-show="upcomingEvents.length > 0">Upcoming Events</h2>

        <ul>
          <li v-for="event in upcomingEvents">
            <strong><% event.name %></strong> <br> <% event.start_time | date %>
          </li>
        </ul>
      </div>
    </section>

    <section class="home-page__contact container" id="contact">
      <h2>Contact</h2>
      <p>
        If you have questions about the Bible, our Worship services, Bible studies, or Catechism classes,
        we invite you to reach out and get in touch.
        Feel free to contact us with one of the methods below or join us in person for Sunday morning worship!
      </p>
      <p>
        Office Phone: <a href="tel:573-474-8755">(573) 474-8755</a><br>
        Cell Phone: <a href="573-356-5560">(573) 356-5560</a><br>
        E-mail: <a href="mailto:maecee@juno.com">maecee@juno.com</a> <br>
      </p>
    </section>

    <section class="home-page__map container" id="get-directions">
      <div class="address">
        <h2>Get Directions</h2>
        <p><strong>Address: </strong></p>
        <p>
          Grace Lutheran Church <br>
          4540 N Oakland Gravel Rd <br>
          Columbia, MO 65202 <br>
        </p>
      </div>
      <iframe
        id="map"
        width="100%"
        height="408"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAkzTXFtcNcDchIbofBdrPofeYtm9UWlD8
          &q=4540+N+Oakland+Gravel+Rd,Columbia,MO+65202" allowfullscreen>
      </iframe>
    </section>

    <footer class="home-page__verse container">
      <p>
        <em>For by GRACE you have been saved through <br>
        faith, and that not of yourselves; it is the gift <br>
        of God, not of works, lest anyone boast. <br>
        Ephesians 2:8-9</em>
      </p>
    </footer>
  </article>
</main>
