<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113518876-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113518876-1');
    </script>

    <title>Grace Lutheran Church</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Proclaiming Christ Crucified, Risen and Coming Again, Through the Gospel in Word and Sacraments">
    <meta name="keywords" content="Grace,Lutheran,Church,WELS,Columbia,Missouri">
    <meta name="image" content="/images/cross-sky.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Grace Lutheran Church">
    <meta name="twitter:description" content="Proclaiming Christ Crucified, Risen and Coming Again, Through the Gospel in Word and Sacraments">
    <meta name="twitter:image" content="/images/cross-square.png">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Grace Lutheran Church">
    <meta name="og:description" content="Proclaiming Christ Crucified, Risen and Coming Again, Through the Gospel in Word and Sacraments">
    <meta name="og:image" content="/images/cross-square.png">
    <meta name="og:url" content="gracecolumbia.com">
    <meta name="og:site_name" content="Grace Lutheran Church">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=EB+Garamond:400,700|Open+Sans:300,400,700" rel="stylesheet">
    <link href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    {% include "partials/header.njk" %}

    {% block body %}
      {{ contents|safe }}
    {% endblock %}

    {% include "partials/footer.njk" %}

    {% if NODE_ENV != "production" %}
      <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    {% block scripts %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="/js/scripts.js"></script>
  </body>
</html>
